/*
  *
  * ==========================================
  * TEMPLATE 1
  * ==========================================
  *
  */

.template1 {
    position: absolute;
    width: 1440px;
    height: 810px;
    left: 0px;
    top: 0px;
    background: linear-gradient(180deg, rgba(232, 249, 220, 0.8) 0%, rgba(255, 236, 217, 0.8) 88.54%);
}

/*
  * HEADER
  */

.template1 .header {
    position: absolute;
    font-family: 'Poppins';
    width: 1440px;
    height: 65px;
    left: 0px;
    top: 0px;
}

.template1 .header .logo {
    position: absolute;
    width: 96px;
    height: 51px;
    left: 99px;
    top: 9px;
}

.template1 .header .home {
    position: absolute;
    width: 71px;
    height: 24px;
    left: 287px;
    top: 23px;
}

.template1 .header .hometext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding-left: 10px;
    color: rgba(133, 133, 133, 0.7);
    background: #FFFFFF;
    border-radius: 13.5px;
}

.template1 .header .dropdown {
    position: absolute;
    width: 107.59px;
    height: 24px;
    left: 384px;
    top: 16px;
}

.template1 .header .dropdown-toggle {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #989898;
}

.template1 .header .bell {
    position: absolute;
    width: 21px;
    height: 21px;
    left: 1227px;
    top: 14px;
}

.template1 .header .profil {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    position: absolute;
    width: 106px;
    height: 40px;
    left: 1260px;
    top: 12.5px;
}

.template1 .header .search .form-control {
    position: absolute;
    width: 555px;
    height: 40px;
    left: 576px;
    top: 12px;
    background: rgba(254, 253, 254, 0.5);
    border-radius: 40px;
}

/*
  * VERTICAL NAVBAR
  */

.template1 .vertical-nav {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22px;
    position: absolute;
    width: 203px;
    left: 26px;
    top: 101px;
}

.template1 .nav-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 0px 4px 5px;
    margin-top: 10px;
    gap: 12px;
    width: 199px;
    height: 39px;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.template1 .nav-link {
    width: 150px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #989898;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.template1 .nav-link .fa-solid {
    margin-right: 8px;
}

.template1 .nav-link .fa-regular {
    margin-right: 8px;
}

.template1 .nav-item .active {
    padding-top: 5px;
    margin-top: 9px;
    width: 203px;
    height: 35px;
    background: #FFFFFF;
}

.template1 .nav-link .active {
    width: 91px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #91A085;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.template1 .vertical-nav .linenav {
    width: 210px;
    height: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    border: 1.01829px dashed #E0E0E0;
    flex: none;
    order: 3;
    flex-grow: 0;
}

/*
  * MAIN
  */

.template1 .main1 {
    position: absolute;
    width: 1175px;
    height: 745px;
    left: 265px;
    top: 65px;
}

.template1 .main2 {
    position: absolute;
    width: 1175px;
    height: 745px;
    left: 0px;
    top: 0px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 30px 0px 0px 0px;
    font-family: 'Poppins';
    font-style: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.3px;
    color: #121212;

}

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.container .btn-block {
    height: 42px;
    background: #A6B59A;
    color: #ffffff;
    border-radius: 8.03942px;
    width: 100%;
}

.container .createtask {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20.0985px;
    line-height: 23px;
    letter-spacing: 0.301478px;
    color: #121212;
}

.container .linect {
    width: 178.8px;
    height: 0px;
    left: 64px;
    border: 1.00493px solid #DDDDDD;
}

.task-column {
    background-color: #f8f9fa;
    padding: 10px;
    min-height: 200px;
    width: 330px;

}

.task-box {
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 50px;
    padding: 15px;
    cursor: pointer;
    width: 270px;
    height: 170px;
    margin-left: auto;
    margin-right: auto;

}

.task-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0.301478px;
    color: #121212;
    font-weight: bold;
}

.status {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.301478px;
    color: #121212;
}

.container .linect2 {
    width: 330px;
    height: 0px;
    left: 64px;
    border: 1.00493px solid #5030E5;
    border-width: 2px;
}

.container .linect3 {
    width: 330px;
    height: 0px;
    left: 64px;
    border: 1.00493px solid #FFA600;
    border-width: 2px;
}

.container .linect4 {
    width: 330px;
    height: 0px;
    left: 64px;
    border: 1.00493px solid #88CD87;
    border-width: 2px;
}

.container i {
    display: block;
    margin-bottom: 10px;
}

.konten {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
}

.add-square {
    position: absolute;
    width: 66px;
    height: 66px;
    right: 10px;
    top: 10px;

    filter: drop-shadow(3px 4px 13px rgba(0, 0, 0, 0.25));
}

/*
  * POP UP
  */

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.557);
    /* Warna latar belakang gelap */
    z-index: 9998;
    /* Z-index yang lebih rendah dari popup */
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 515px;
    height: 330px;
    background: #F8FFF7;
    border-radius: 46.2248px;
    z-index: 9999;
}

.popup .greencheck {
    margin-left: 148px;
    width: 170px;
    height: 170px;
}

.popup .successfull {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36.9798px;
    line-height: 45px;
    text-align: center;
    color: #3C3C3C;
}

.popup .copyblabla {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13.8674px;
    line-height: 17px;
    text-align: center;
    color: #3C3C3C;
}

.popup .btn {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

/* Animasi popup */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*
  *
  * ==========================================
  * OVERVIEW MY TASK
  * ==========================================
  *
  */

.overview {
    position: absolute;
    left: 45px;
    right: 45px;
    top: 45px;
}

.overview .title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #29343E;
}

.overview .description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #7C7F89;
}

.overview .descriptiontext {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #342E2A;
}
